# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Operating System files
.DS_Store
Thumbs.db
